@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";
@import "node_modules/bulma/sass/utilities/initial-variables";

// custom overrides and general styles
@import "node_modules/bulma/bulma";

html,
body {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.nav{
    height: 20vh;
}

.main-content{
    height: 70vh;
}

footer{
    margin-top: 1.5vh;
    height: 10vh;
}

.scrollable{
    overflow-y: auto;
}

.is-sidebar-menu{
    height: 100%;
}
