@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}

@import "fonts";
@import "node_modules/bulma/sass/utilities/initial-variables";

// custom overrides and general styles
@import "node_modules/bulma/bulma";

html,
body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.navbar{
    height: 10vh;
    a {
        color: inherit;
    }
}

.title {
    color: #5432a8 !important;
}

.main-display{
    display: flex;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
}

footer{
    display: none;
    align-items: center;
    height: 0;
}

.scrollable{
    overflow-y: auto;
}

.picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.is-sidebar-menu{
    height: 100%;
}
